#### CÁLCULO DE APROVEITAMENTO DOS TÉCNICOS  
Prod.  = Produtividade   = HV / HDR  
Aprov. = Aproveitamento  = HG / HDR  
Efic.  = Eficiência      = HG / TMO  
            └───> O cálculo da eficiência é a razão entre as HORAS GASTAS e o TEMPO PADRÃO DE REPARO
            └───> No Relatorios e BI > Servicos > Ampontamentos : a coluna Tempo Serviço indica o TMO do serviço


HD  = HORAS DSIPONÍVEIS (Dias Úteis x 8.8)(tempodisponivelcentesimal)  
  
  
O2 = Tempo Improdutivo por FALTA DE SERVIÇO - Obs: Conta como HD (ou seja, NÃO desconta das HD)  
O1 = Tempo Improdutivo por OUTROS MOTIVOS   - Obs: NÃO Conta como HD (ou seja, DESCONTA das HD)  
  
04A = Tempo Improdutivo por CONSULTAS/ATESTADOS/FÉRIAS/EXAMES/VIAGEM - Obs: NÃO Conta como HD (ou seja, DESCONTA das HD)  
04B = Tempo Improdutivo por CURSO/TREINAMENTO EXTERNO                - Obs: NÃO Conta como HD (ou seja, DESCONTA das HD)  

HDR = Horas Disponíveis Reais (HD - O1 - O4A - O4B)   
HV  = Horas Vendidas (Horas Aplicadas nas OS's (somente Concluídas))  
HG  = Horas Gastas (Horas Aplicadas nas OS's (Concluídas ou NÃO))  

TMO = TPR >> Tempo Padrão de Reparo

#### Inicialização do Projeto
##### Importação das bibliotecas e definições do Pandas e da API

In [1]:
import requests
import pandas as pd
import numpy as np

# Essas configurações definem o número máximo de linhas e colunas a serem exibidas como None, o que significa que não há limite.
pd.set_option('display.max_rows', None)  # Mostrar 5 linHGs ou None para mostrar todas as linhas
pd.set_option('display.max_columns', None)  # Mostrar todas as colunas

# URL da API externa
API_URL = 'https://microworkcloud.com.br/api/integracao/terceiro'
API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjYjA5YjI5ZC0xMWI0LTRhZjgtYjQwOC03OWVmZjVhNWI3MzAiLCJvcmciOiJvcmcwMDA0NDQifQ.izk8b4ni8eyP3r2y_tpDu10iRiWohbTpsiQgk4YVV-s"
# Cabeçalhos (headers) que você deseja enviar na requisição
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer { API_KEY }',
}

##### Definição dos dicionários com os códigos de Tempo Perdido e dos CIT's das OS's

In [25]:
# Dicionário com os códigos de tempo perdido
tempo_perdido_dict = {
    "SERVIÇO EXTRA": "O1",
    "FALTA DE SERVIÇO": "O2",
    "AFASTAMENTO MÉDICO": "O4A",
    "CONSULTA MÉDICA": "O4A",
    "CONSULTA ODONTOLÓGICA": "O4A",
    "DECLARAÇÃO DE ÓBITO": "O4A",
    "EXAME ADMISSIONAL": "O4A",
    "EXAME MÉDICO OCUPACIONAL": "O4A",
    "FALTA (FALTA/ATRASO/SAÍDA ANTECIPADA)": "O4A",
    "FÉRIAS": "O4A",
    "JUSTIÇA ELEITORAL": "O4A",
    "LICENÇA CASAMENTO": "O4A",
    "LICENÇA PATERNIDADE": "O4A",
    "VIAGEM": "O4A",
    "CURSO/TREINAMENTO EXTERNO": "O4B",
    "CURSO/TREINAMENTO INTERNO": "O4B"
}

In [26]:
# Dicionário com os códigos dos CITs
cit_dic = {
    "C2 - CLIENTES OUTRAS MARCAS": "C2",
    "C3 - CLIENTES MBB PROMOCAO": "C3",
    "C4FUN - CLIENTES FUNILARIA MBB": "C4",
    "C4SEG - CLIENTES SEGURADORAS": "C4",
    "C4SEGPRJ - CLIENTES SEGURADORA PROJETO": "C4",
    "C4SFR - CLIENTE SEGURADORAS FRANQUIA": "C4",
    "C5MTS - CLIENTES MTS": "C5",
    "C6PNE - CLIENTES PNEUS": "C6",
    "C7CON - CLIENTE CONSERTO RECAPADORA": "C7",
    "C7REC - CLIENTES RECAPADORA": "C7",
    "C8OVD - OFICINA VOLANTE MBB": "C8",
    "C9OVD - OFICINA VOLANTE MTS": "C9",
    "C1CHL - CLIENTES CHECK LIST": "CN",
    "C1CO - CLIENTES CAMINHOES & ONIBUS MBB": "CN",
    "C1SE - SERVIÇO EXPRESSO MBB": "CN",
    "C1V - CLIENTES VANS MBB": "CT",
    "C1VS - CLIENTES VANS MBB SÁBADO": "CT",
    "I3CO - REVISAO MB CAMINHOES & ONIBUS": "I3N",
    "I3V - REVISAO MB VANS": "I3T",
    "I5CO - GARANTIA CAMINHOES & ONIBUS": "I5N",
    "I5RCO - RECALL CAMINHOES & ONIBUS": "I5N",
    "MACO - MERCEDES S24H CAMINHOES & ONIBUS": "I5N",
    "I5RV - RECALL VANS": "I5T",
    "I5V - GARANTIA VANS": "I5T",
    "CMBB - CONTRATO MANUTENCAO BEST BASIC": "ICM",
    "CMC - CONTRATO MANUTENCAO COMPLETE": "ICM",
    "CMS - CONTRATO MANUTENCAO SELECT": "ICM",
    "CMSC - CONTRATO MANUTENCAO SERVICE CARE": "ICM",
    "I3CMBB - REVISAO MB CM BEST BASIC": "ICM",
    "I3CMC - REVISAO MB CM COMPLETE": "ICM",
    "I3CMSC - REVISAO MB CM SERVICE CARE": "ICM",
    "MACMC - MERCEDES S24H CM COMPLETE": "ICM",
    "O3A - SERVICOS EM VEICULOS DA OFICINA": "O3A",
    "O3GA - SERVICOS DE CORTESIA GA": "O3B",
    "O3MBB - SERVICOS DE CORTESIA MBB": "O3B",
    "O3MTS - SERVICOS DE CORTESIA MTS": "O3B",
    "O5GA - SERVICOS DE RETORNO GA": "O5",
    "O5MBB - SERVICOS DE RETORNO MBB": "O5",
    "O5MTS - SERVICOS DE RETORNO MTS": "O5",
    "S1OFC - SERV INTERN OFICINA": "S1",
    "S1OFU - SERV INTERN OFICINA P FUNILARIA": "S1",
    "S1OPE - SERV INTERN OFICINA P PECAS": "S1",
    "S1OPN - SERV INTERN OFICINA P PNEUS": "S1",
    "S1ORE - SERV INTERN OFICINA P RECAPADORA": "S1",
    "S1OVN - SERV INTERN OFICINA P VEIC NOVOS": "S1",
    "S1RE - SERV REVISAO DE ENTREGA MBB": "S1",
    "S2MPN - SERV INTERN MTS P PNEUS": "S2",
    "S2MRE - SERV INTERN MTS P RECAPADORA": "S2",
    "S2MVN - SERV INTERN MTS P VEICULOS NOVOS": "S2",
    "S2RE - SERV REVISAO DE ENTREGA MTS": "S2",
    "S3FVN - SERV INTERN FUN P VEIC NOVOS": "S3",
    "S3PVN - SERV INTERN PNEUS P VEIC NOVOS": "S3",
    "C7CVN - SERV INTERNO RECAP P VEIC NOVOS": "C7",
    "SA - SERVIÇOS ADICIONAIS C&O": "CN",
    "SA - SERVIÇOS ADICIONAIS VANS": "CT",
    "MAV - MERCEDES S24H VANS": "ICM",
    "C3CHL - CLIENTES MBB PROMOÇÃO CHECK LIST": "C3"
  }

In [27]:
# Lista com os técnicos que não devem aparecer
tecnicos_off = [
    'DANIEL GURNISKI',
    "FRANCISCO KONDLATSCH JUNIOR",
    "MALLON CONCESSIONARIA DE VEICULOS COMERCIAIS LTDA",
    "VALDINEI DOS SANTOS",   
]

In [29]:
# Dicionário com relação dos técnicos/filial
tecnico_filial_dic = {
    "CARLOS DE LIMA DA SILVA": "MFA",
    "CHARLES BAGATOLI": "MRS",
    "CHARLES BOMBASAR": "MUV",
    "CHARLES DA SILVA": "MLA",
    "DANIEL GURNISKI": "MFA",
    "DYEINIS CARLOS CORREA": "MRS",
    "EDER NILSON PIRES": "MUV",
    "FABIO RICARDO AVI": "MRS",
    "FELIPE LANGER": "MFA",
    "FRANCISCO KONDLATSCH JUNIOR": "MFA",
    "GUILHERME ANTÔNIO MARINS": "MUV",
    "HILDO DE SOUZA JUNIOR": "MUV",
    "JAISON MEDEIROS": "MRS",
    "JEAN CARLO XAVIER DA SILVA": "MLA",
    "JEAN CARLOS DE OLIVEIRA PALHANO": "MFA",
    "JOAO CASSIO DA SILVA": "MRS",
    "JOBINSON FERREIRA": "MRS",
    "JOSE MARO RIBEIRO CHAVES": "MFA",
    "JULIANO CORDEIRO": "MLA",
    "LEONARDO RENAN VARELA ALVES": "MLA",
    "LEXANDRE DINIZ CARVALHO": "MFA",
    "MAICON NICOLETTI": "MRS",
    "MALLON CONCESSIONARIA DE VEICULOS COMERCIAIS LTDA": "MFA",
    "MARCOS LEANDRO FERREIRA DE CASTRO": "MUV",
    "MATEUS WENDT": "MFA",
    "MOISES GOMES CORREA": "MFA",
    "PEDRO HENRIQUE SCHUTT": "MFA",
    "RUAN ANTONIO COUTO GESTAL": "MUV",
    "SIDNEY HARBS": "MRS",
    "TIAGO SPULDARO PEREIRA": "MLA",
    "VALDINEI DOS SANTOS": "MFA"
}

##### Criando o df_result (Dataframe Resultado)  e definindo as datas a serem pesquisadas

In [3]:
df_result = []

dtInicial = '2025-08-18'
dtFinal = '2025-08-22'

In [4]:
# RELATÓRIO: 4. CONFERENCIA DE APONTAMENTOS
body = {
        "idrelatorioconfiguracao": 342,
                    "idrelatorioconsulta": 168,
                    "idrelatorioconfiguracaoleiaute": 342,
                    "idrelatoriousuarioleiaute": 381,
                    "ididioma": 1,
                    "listaempresas": [2,3,4,5,6],
                    "filtros": f"SomenteItensEmCortesia=False;\
        NumeroOS=null;\
        OSDesconsiderarItensCortesia=False;\
        OSTipoRecpecao=null;\
        InserirParado=True;\
        MotivoTempoPerdido=null;\
        Segmento=null;\
        PessoaFuncionarioTipoAtuacao=2;\
        ServicoDocumentoTipo=1,2,3;\
        Periodoinicial={dtInicial};\
        TipoApontamento=1,2,3;\
        Tecnico=null;\
        SituacaoOS=null;\
        InserirDisponibilidade=True;\
        Periodofinal={dtFinal};\
        SituacaoServicoItem=null;\
        TipoOS=null;\
        TipoOrdemServicoInterno=null;\
        Cargo=null"        
}

#### Execução do código
##### Faz a consulta na API da Microwork e Salva os dados no dataframe df_result

In [6]:
try:
    response = requests.post(API_URL, headers=headers, json=body)
    
    if response.status_code == 200:
        # Converte a resposta JSON em um DataFrame do Pandas
        data_json = response.json()
        df_result = pd.DataFrame(data_json)
    
        if df_result.empty:
            df_result = "Vazio"
        
    else:
        print(f"Erro na requisição! Status code: {response.status_code}")
        try:
            error_json = response.json()
            print("Detalhes do erro:", error_json)
        except ValueError:
            # Se não for JSON
            print("Resposta da API (não JSON):", response.text)
        
            # return pd.DataFrame()
        
    
except requests.exceptions.RequestException as e:
    print("Erro ao fazer a solicitação:", e)

Erro na requisição! Status code: 400
Detalhes do erro: 42703: column "temposervicosegundos" does not exist

POSITION: 359

In [ ]:
# Exibir o resultado da pesquisa
display(df_result)

##### Funções de apoio

In [7]:
# Faz a formatação do números
def formatar(x):
    value = f"{x:,.2f}"
    value = value.replace(",", "_")
    value = value.replace(".", ",")
    value = value.replace("_", ".")
    return value


# Define as Siglas dos CIT's conforme os critérios definidos
def define_cit_code(row):
    # Se o número do OS for ZERO, busca o código do dicionário da tabela tempo_perdido_dict conforme o 'motivotempoperdido'
    if row['numero'] == 0:
        return tempo_perdido_dict.get(row['motivotempoperdido'], 'O1')  # Retorna 'O1' se não encontrar
    else:
        # Se 'numero' da OS é diferente de 0, verifica o 'TIPO DA OS' em cit_dict e rtorna o código do CIT
        return cit_dic.get(row['ostipo'], 'VERIFICAR')      # Retorna 'VERIFICAR' se não encontrar

##### Importa o df_result para o df_tecnico e faz as análises necessárias

In [35]:
 # df_tecnico recebe os dados do df_result
df_tecnico = df_result

df_tecnico['empresa'] = df_tecnico['pessoatecnico'].apply(lambda tecnico: tecnico_filial_dic.get(tecnico, 'VER'))

#-------------------------------------------------------------------------------------------------------
# Adicionar a coluna 'Sigla_CIT' com o código correspondente ou 'VERIFICAR' se não encontrar
df_tecnico['Sigla_CIT'] = df_tecnico.apply(define_cit_code, axis=1)

# HG - Horas Gastas
df_tecnico['HG'] = df_tecnico.apply(lambda row: 0 if row['Sigla_CIT'] == 'O1' else row['tempogastocentesimal'], axis=1)

# HA - Hora Perdida
# df_tecnico['HP'] = df_tecnico['tempoperdidocentesimal']
df_tecnico['HP'] = df_tecnico['tempoimprodutivocentesimal']

# THAP - Total de Hora Aplicada -> Soma da Hora Aplicada + Hora Perdida
df_tecnico['THAP'] = df_tecnico['HG'] + df_tecnico['HP']

# THD - Total Hora Disponível 
df_tecnico['HD'] = df_tecnico['THAP']

# Cria a coluna Status_OS e coloca como CONCLUIDA se o número da OS = 0
# Se tiver um número da OS, verifica se tem DATA DE CONCLUSÃO. Se tiver, coloca como CONCLUIDA. Se NÃO, coloca como ABERTA
df_tecnico['Status_OS'] = df_tecnico.apply(
    lambda row: 'CONCLUIDA' if row['numero'] == 0 
                else 'CONCLUIDA' if not pd.isna(row['dataconclusao']) 
                else 'ABERTA', 
    axis=1
)

# HV - Hora Vendida - Tempo Vendido apontado para o técnico SOMENTE NAS OS's CONCLUIDAS
df_tecnico['HV'] = df_tecnico.apply(lambda row: row['tempo_vendido_centesimal'] if row['Status_OS'] == 'CONCLUIDA' else 0, axis=1)

# Adicionar a coluna 'O2' com valores da coluna 'tempoimprodutivocentesimal' onde 'motivotempoperdido' é 'FALTA DE SERVIÇO'
df_tecnico['O2'] = df_tecnico.apply(lambda row: row['tempoimprodutivocentesimal'] if row['Sigla_CIT'] == 'O2' else 0, axis=1)

# Adicionar a coluna 'O1' com valores da coluna 'tempoimprodutivocentesimal' onde 'motivotempoperdido' NÃO TEM justificativa
df_tecnico['O1'] = df_tecnico.apply(lambda row: row['tempoimprodutivocentesimal'] if row['Sigla_CIT'] == 'O1' else 0, axis=1)

df_tecnico['O4A'] = df_tecnico.apply(lambda row: row['tempoimprodutivocentesimal'] if row['Sigla_CIT'] == 'O4A' else 0, axis=1)

df_tecnico['O4B'] = df_tecnico.apply(lambda row: row['tempoimprodutivocentesimal'] if row['Sigla_CIT'] == 'O4B' else 0, axis=1)

# HDR = Horas Disponíveis Reais (HD - O1 - O4A - O4B)
df_tecnico['HDR'] = df_tecnico['HD'] - df_tecnico['O1'] - df_tecnico['O4A'] - df_tecnico['O4B']

# display(df_tecnico)
#-------------------------------------------------------------------------------------------------------

# Agrupando por 'pessoatecnico' e somando os campos necessários
df_tecnico = df_tecnico.groupby(['empresa', 'idpessoatecnico', 'pessoatecnico'])\
[[
'HD',
'O1',                           # O1 = 
'O4A',                          # O4A = 
'O4B',                          # O4B = 
'O2',                           # O2 = Tempo Improdutivo por FALTA DE SERVIÇO) Obs: Conta como HD
'HG',
'HV',                           # HV = Horas Gastas (Horas Aplicadas nas OS's (Somente Concluídas))
'HDR',
'temposervicocentesimal'        # TMO do serviço
# 'temposervicocentesimal',
]].sum().reset_index()

# Ordenar as colunas
df_tecnico_final = df_tecnico.reindex(columns=[
    'empresa',
    'idpessoatecnico',
    'pessoatecnico',
    'HD',
    'O1',   # BATEU C/PLANILHA (Tempo Perdido tipo O1)
    'O4A',
    'O4B',
    'O2',
    'HG',   # BATEU C/PLANILHA (Se Sigla do CIT = O1; HA = 0; se não HA = Tempo Gasto Centesimal)
    'HV',   # BATEU C/PLANILHA (Tempo Vendido Centesimal = Hora Vendida)
    'HDR',
    'temposervicocentesimal'
])

# Calcula a produtividade do Técnico
df_tecnico_final['Prod_%'] = np.where(df_tecnico_final['HDR'] != 0,
                                    df_tecnico_final['HV'] / df_tecnico_final['HDR'] * 100,
                                    0)  # Ou outro valor que faça sentido, como 0

# Calcula o Aproveitamento do Técnico
df_tecnico_final['Aprov_%'] = np.where(df_tecnico_final['HDR'] != 0,
                                    df_tecnico_final['HG'] / df_tecnico_final['HDR'] * 100,
                                    0)  # Ou outro valor que faça sentido, como 0

# Calcula a Eficiência do Técnico
df_tecnico_final['Efic_%'] = np.where(df_tecnico_final['temposervicocentesimal'] != 0,
                                    df_tecnico_final['HG'] / df_tecnico_final['temposervicocentesimal'] * 100,
                                    0)  # Ou outro valor que faça sentido, como 0

df_tecnico_final = df_tecnico_final.rename(columns={
    'idpessoatecnico': 'codigo',
    'temposervicocentesimal': 'TMO'
})

            
df_tecnico_final['O1'] = df_tecnico_final['O1'].apply(formatar)
df_tecnico_final['O4A'] = df_tecnico_final['O4A'].apply(formatar)
df_tecnico_final['O4B'] = df_tecnico_final['O4B'].apply(formatar)
df_tecnico_final['O2'] = df_tecnico_final['O2'].apply(formatar)
df_tecnico_final['HV'] = df_tecnico_final['HV'].apply(formatar)
df_tecnico_final['HG'] = df_tecnico_final['HG'].apply(formatar)          
df_tecnico_final['HD'] = df_tecnico_final['HD'].apply(formatar)          
df_tecnico_final['HDR'] = df_tecnico_final['HDR'].apply(formatar)
df_tecnico_final['TMO'] = df_tecnico_final['TMO'].apply(formatar)
df_tecnico_final['Prod_%'] = df_tecnico_final['Prod_%'].apply(formatar)
df_tecnico_final['Aprov_%'] = df_tecnico_final['Aprov_%'].apply(formatar)
df_tecnico_final['Efic_%'] = df_tecnico_final['Efic_%'].apply(formatar)

# Substituir todos os NaN por 0
df_tecnico_final.fillna(0, inplace=True)


# Exclui técnicos de outros departamentos
df_tecnico_final = df_tecnico_final[~df_tecnico_final['pessoatecnico'].isin(tecnicos_off)]

# Ordenar o DataFrame pela coluna 'pessoatecnico'
df_tecnico_final = df_tecnico_final.sort_values(by=['empresa', 'pessoatecnico'])


# Exibe o dataframe convertido para o formato desejado
# tecnico = 'Charles da Silva'
# df_tecnico = df_tecnico[df_tecnico['pessoatecnico'] == tecnico.upper()]
display(df_tecnico_final)

# Exporta para um arquivo csv  
# df_tecnico.to_csv("conferencia_de_apontamentos.csv", index=False, sep=',', decimal=',', float_format='%.4f')
df_tecnico_final.to_excel("conferencia_de_apontamentos.xlsx", index=False, float_format="%.4f")

,empresa,codigo,pessoatecnico,HD,O1,O4A,O4B,O2,HG,HV,HDR,TMO,Prod_%,Aprov_%,Efic_%
2,MFA,146,CARLOS DE LIMA DA SILVA,"31,69","0,00","0,00","0,00","0,00","31,69","28,65","31,69","86,60","90,41","100,00","36,59"
3,MFA,147,FELIPE LANGER,"28,15","0,00","0,00","0,00","0,00","28,15","18,88","28,15","36,45","67,08","100,00","77,24"
4,MFA,149,JEAN CARLOS DE OLIVEIRA PALHANO,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
10,MFA,13155,JOSE MARO RIBEIRO CHAVES,"12,08","0,00","0,00","0,00","0,00","12,08","6,65","12,08","14,45","55,05","100,00","83,59"
5,MFA,150,LEXANDRE DINIZ CARVALHO,"32,09","0,00","0,00","0,00","0,00","32,09","19,40","32,09","72,20","60,46","100,00","44,44"
6,MFA,151,MATEUS WENDT,"32,36","0,00","0,00","0,00","0,00","32,36","10,70","32,36","45,00","33,07","100,00","71,91"
7,MFA,152,MOISES GOMES CORREA,"35,00","0,00","0,00","0,00","0,00","35,00","24,60","35,00","133,50","70,29","100,00","26,21"
8,MFA,153,PEDRO HENRIQUE SCHUTT,"34,77","0,00","0,00","0,00","0,00","34,77","16,28","34,77","42,12","46,84","100,00","82,55"
15,MLA,39403,CHARLES DA SILVA,"44,00","14,73","1,50","0,00","0,37","27,40","19,50","27,77","77,83","70,23","98,68","35,20"
12,MLA,138,JEAN CARLO XAVIER DA SILVA,"51,22","27,75","0,00","0,00","1,78","21,68","18,85","23,47","70,57","80,33","92,40","30,73"
13,MLA,141,JULIANO CORDEIRO,"49,02","3,97","0,00","0,00","3,18","41,87","15,12","45,05","107,27","33,56","92,93","39,03"
16,MLA,40525,LEONARDO RENAN VARELA ALVES,"47,95","17,55","0,00","0,00","1,50","28,90","16,32","30,40","48,77","53,67","95,07","59,26"
14,MLA,142,TIAGO SPULDARO PEREIRA,"44,00","44,00","0,00","0,00","0,00","0,00","0,00","0,00","44,00","0,00","0,00","0,00"
21,MRS,160,CHARLES BAGATOLI,"44,00","16,42","0,00","0,00","7,78","19,80","20,60","27,58","49,82","74,68","71,78","39,75"
22,MRS,161,DYEINIS CARLOS CORREA,"44,00","14,97","0,00","0,00","14,45","14,58","5,60","29,03","33,37","19,29","50,23","43,71"
17,MRS,132,FABIO RICARDO AVI,"44,02","18,43","0,00","0,00","1,67","23,92","7,00","25,58","31,43","27,36","93,48","76,09"
20,MRS,156,JAISON MEDEIROS,"44,25","10,50","0,00","0,00","4,92","28,83","15,90","33,75","38,12","47,11","85,43","75,64"
23,MRS,163,JOAO CASSIO DA SILVA,"44,50","19,20","0,00","0,00","9,30","16,00","11,50","25,30","33,50","45,45","63,24","47,76"
18,MRS,133,JOBINSON FERREIRA,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
19,MRS,134,MAICON NICOLETTI,"44,50","15,18","1,75","0,00","11,80","15,77","9,30","27,57","31,50","33,74","57,19","50,05"
24,MRS,164,SIDNEY HARBS,"44,55","4,50","0,00","0,00","5,37","34,68","24,27","40,05","47,97","60,59","86,60","72,31"
30,MUV,41624,CHARLES BOMBASAR,"47,45","0,00","0,00","0,00","15,87","31,58","31,27","47,45","121,10","65,90","66,56","26,08"
25,MUV,157,EDER NILSON PIRES,"44,68","0,00","0,00","0,00","23,72","20,97","17,00","44,68","21,10","38,05","46,92","99,36"
29,MUV,22645,GUILHERME ANTÔNIO MARINS,"46,18","0,00","0,00","0,00","18,02","28,17","3,50","46,18","45,40","7,58","60,99","62,04"
26,MUV,158,HILDO DE SOUZA JUNIOR,"44,14","0,00","0,00","0,00","20,17","23,97","6,00","44,14","21,90","13,59","54,31","109,45"
28,MUV,6463,MARCOS LEANDRO FERREIRA DE CASTRO,"51,05","0,00","0,00","0,00","16,83","34,22","23,00","51,05","85,50","45,05","67,03","40,02"
27,MUV,159,RUAN ANTONIO COUTO GESTAL,"44,00","0,00","0,00","44,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"