In [6]:
import requests
import pandas as pd
import numpy as np

# Essas configurações definem o número máximo de linhas e colunas a serem exibidas como None, o que significa que não há limite.
pd.set_option('display.max_rows', None)  # Mostrar 5 linHGs ou None para mostrar todas as linhas
pd.set_option('display.max_columns', None)  # Mostrar todas as colunas

# URL da API externa
API_URL = 'https://microworkcloud.com.br/api/integracao/terceiro'
API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjYjA5YjI5ZC0xMWI0LTRhZjgtYjQwOC03OWVmZjVhNWI3MzAiLCJvcmciOiJvcmcwMDA0NDQifQ.izk8b4ni8eyP3r2y_tpDu10iRiWohbTpsiQgk4YVV-s"
# Cabeçalhos (headers) que você deseja enviar na requisição
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer { API_KEY }',
}

In [7]:
df_result = []
os = 83535

In [8]:
body = {
        "idrelatorioconfiguracao": 189,
                    "idrelatorioconsulta": 95,
                    "idrelatorioconfiguracaoleiaute": 189,
                    "idrelatoriousuarioleiaute": 223,
                    "ididioma": 1,
                    "listaempresas": [1,2,3,4,5,6,7,8,9],
                    "filtros": f"ConsiderarTecnico=True;\
        FontePagadora=null;\
        Segmento=null;\
        SomenteManutencaoFrotista=False;\
        GrupoDoModelo=null;\
        TipoDeVeiculoModelo=null;\
        TipoVeiculoOS=null;\
        ItensServicosCancelados=False;\
        TipoOrdemServicoInterno=null;\
        EstadoVeiculo=null;\
        TipoRecepcao=null;\
        VeiculoCliente=null;\
        Municipio=null;\
        Consultor=null;\
        Tipodeordemdeservico=null;\
        Tecnico=null;\
        Tipoitem=3,1,4,2;\
        NumeroOS=83710;\
        OSSituacao=1,7,5;\
        Tiposervico=null;\
        EquipeAtendimentoFrotista=null;\
        NumeroContratoFrotista=;\
        Periododeemissaofinal=2024-08-02;\
        Pessoa=null;\
        Modelo=null;\
        Periododeemissaoinicial=2022-09-01;\
        SituacaoControleTeste=null;\
        ServicosPronto=False"
}

In [9]:
try:
    response = requests.post(API_URL, headers=headers, json=body)
    
    if response.status_code == 200:
        # Converte a resposta JSON em um DataFrame do Pandas
        data_json = response.json()
        df_result = pd.DataFrame(data_json)
    
        if df_result.empty:
            df_result = "Vazio"
        
    else:
        print("Ooops! algo deu errado.\nresponse.status_code: ",response.status_code)
        
    
except requests.exceptions.RequestException as e:
    print("Erro ao fazer a soliSigla_CITação:", e)

In [10]:
# Exibir o resultado da pesquisa
display(df_result)

,empresa,chassi,pessoaconsultor,datahoraemissao,numero,diasoficina,ostipo,pessoa,modelo,placa,totalservico,totalmercadoria,ossituacao,valortotal,valortotalacrescimo,valortotaldesconto,numerocomercial,numerocelular,contaros,quilometragem,kmrodado
0,MMA,9BM979076LB150225,CLOVIS MICHEL RODRIGUES ZIELINSKI,2024-08-02T09:11:32,83710,0,C1CO - CLIENTES CAMINHOES & ONIBUS MBB,MILCOLOR TINTAS E REVESTIMENTOS EIRELI,ACCELO 1016/39,RAI-5380,152.0,0.0,ABERTA,152.0,0.0,0.0,(47) 36439191,(47) 99764250,1,64950,0