In [1]:
import requests
import pandas as pd

# Essas configurações definem o número máximo de linhas e colunas a serem exibidas como None, o que significa que não há limite.
pd.set_option('display.max_rows', 5)  # Mostrar 5 linhas
pd.set_option('display.max_columns', None)  # Mostrar todas as colunas

# URL da API externa
API_URL = 'https://microworkcloud.com.br/api/integracao/terceiro'
API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjYjA5YjI5ZC0xMWI0LTRhZjgtYjQwOC03OWVmZjVhNWI3MzAiLCJvcmciOiJvcmcwMDA0NDQifQ.izk8b4ni8eyP3r2y_tpDu10iRiWohbTpsiQgk4YVV-s"
# Cabeçalhos (headers) que você deseja enviar na requisição
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer { API_KEY }',
}

In [2]:
dtInicial = "2022-01-01"
dtFinal = "2025-01-31"

In [3]:
dataMetas = {
        "idrelatorioconfiguracao": 320,
        "idrelatorioconsulta": 154,
        "idrelatorioconfiguracaoleiaute": 320,
        "idrelatoriousuarioleiaute": 175,
        "ididioma": 1,
        "listaempresas": [1, 2, 3, 4, 5, 6, 7, 8, 9],
        "filtros": f"DataMovimentoInicial=${dtInicial};  DataMovimentoFinal=${dtFinal}; TipoMovimentoUsuario=null; TipoMercadoria=null; ModeloVeiculo=null; TipoVendaVeiculo=null; TipoOS=null; TipoServico=null; CodigoPessoa=null; GrupoPessoa=null; TipoMeta=4,5; TipoAtividade=null"
    }

In [4]:
# METAS - Faz a requisição POST com os cabeçalhos e dados especificados
response = requests.post(API_URL, headers=headers, json=dataMetas)

if response.status_code == 200:
    # Converte a resposta JSON em um DataFrame do Pandas
    data_json = response.json()
    df_metas = pd.DataFrame(data_json)

    if df_metas.empty:
        df_metas = "Vazio"

In [5]:
display(df_metas)

,codigopessoa,empresa,tipometa,anomes,mes,nomepessoa,valormeta
0,50,MLA,VALOR FATURAMENTO DE MERCADORIAS,2022/01,JANEIRO,GABRIEL MISTURI DOS SANTOS,0.0
1,68,MLA,VALOR FATURAMENTO DE MERCADORIAS,2022/01,JANEIRO,MARCIO SOUZA GODINHO,0.0
...,...,...,...,...,...,...,...
1222,98,MUV,VALOR FATURAMENTO DE SERVIÇOS,2024/11,NOVEMBRO,JEFERSON SA,0.0
1223,98,MUV,VALOR FATURAMENTO DE SERVIÇOS,2024/12,DEZEMBRO,JEFERSON SA,0.0