In [16]:
import requests
import pandas as pd

# Essas configurações definem o número máximo de linhas e colunas a serem exibidas como None, o que significa que não há limite.
pd.set_option('display.max_rows', 6)  # Mostrar 5 linhas
pd.set_option('display.max_columns', None)  # Mostrar todas as colunas

# URL da API externa
API_URL = 'https://microworkcloud.com.br/api/integracao/terceiro'
API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjYjA5YjI5ZC0xMWI0LTRhZjgtYjQwOC03OWVmZjVhNWI3MzAiLCJvcmciOiJvcmcwMDA0NDQifQ.izk8b4ni8eyP3r2y_tpDu10iRiWohbTpsiQgk4YVV-s"
# Cabeçalhos (headers) que você deseja enviar na requisição
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer { API_KEY }',
}

df_result = []

body = {
        "idrelatorioconfiguracao": 355,
                    "idrelatorioconsulta": 177,
                    "idrelatorioconfiguracaoleiaute": 355,
                    "idrelatoriousuarioleiaute": 348,
                    "ididioma": 1,
                    "listaempresas": [2,3,4,5,6],
                    "filtros": "EquipeAtendimentoFrotista=null;\
        NumeroContratoFrotista=;\
        VeiculoCliente=null;\
        Pessoa=5306;\
        Modelo=null;\
        Placa=;\
        Chassi=;\
        SomenteAtivos=True"
}

try:
    response = requests.post(API_URL, headers=headers, json=body)
    
    if response.status_code == 200:
        # Converte a resposta JSON em um DataFrame do Pandas
        data_json = response.json()
        df_result = pd.DataFrame(data_json)
    
        if df_result.empty:
            df_result = "Vazio"

        # Função para extrair o primeiro e o último nome
        def extrair_nomes(nome_completo):
            partes = nome_completo.split()
            primeiro_nome = partes[0] + " " + partes[2]
            ultimo_nome = partes[-1]
            if ultimo_nome.lower() in ['ltda', 'me', 'sa', 'eireli']:
                return primeiro_nome, partes[-2]
            else:
                primeiro_nome = partes[0]
                return primeiro_nome, ultimo_nome


#         df_result[['first_name', 'last_name']] = df_result['nomeourazaosocial'].apply(lambda x: pd.Series(extrair_nomes(x)))
        df_result['first_name'] = df_result['nomeourazaosocial']
        df_result[[_ , 'last_name']] = df_result['nomeourazaosocial'].apply(lambda x: pd.Series(extrair_nomes(x)))
            df_result["telefonecelular"] = None
            df_result["telefonecomercial"] = None
            df_result["telefoneresidencial"] = None
            df_result["municipiouf"] = None
            df_result["email"] = None
        df_result["password"] = None
        df_result["id_cloud"] = None
        df_result["id_branch"] = None
        df_result["id_level"] = 1
 
        df_client = df_result[["cpfoucnpj", \
                               "first_name", \
                               "last_name", \
                               "telefonecelular", \
                               "telefonecomercial", \
                               "telefoneresidencial", \
                               "municipiouf", \
                               "email", \
                               "password", \
                               "id_cloud", \
                               "id_branch", \
                               "id_level"
                          ]]
        

        df_client = df_client.rename(columns={
            "cpfoucnpj": "cpf_cnpj",
            "municipiouf": "city",
            "telefonecelular": "phone",
            "telefonecomercial": "office_phone",
            "telefoneresidencial": "home_phone",
        })

        df_result["marca"] = "MERCEDES BENZ"
        df_result["anofabrmod"] = df_result["anofabricacao"].astype(str) + "/" + df_result["anomodelo"].astype(str)
        df_result = df_result.fillna(0)
        df_vehicle = df_result[["chassi", "marca", "modelo", "cor", "anofabrmod", "cpfoucnpj", "quilometragem", "placa"]]

        
        # Renomeando as colunas
        df_vehicle = df_vehicle.rename(columns={
            'chassi': 'vin',
            'marca': 'brand',
            'modelo': 'model',
            'cor': 'colour',
            'anofabrmod': 'year_model',
            'cpfoucnpj': 'owner_id',
            'quilometragem': 'km_hr',
            'placa': 'plate',
        })

        display(df_vehicle)
        display(df_client)
    else:
        print("Ooops! algo deu errado.\nresponse.status_code: ",response.status_code)
    
except requests.exceptions.RequestException as e:
    print("Erro ao fazer a solicitação:", e)

,vin,brand,model,colour,year_model,owner_id,km_hr,plate
0,8AC690331WA516130,MERCEDES BENZ,310 D SPRINTER,BRANCA,1998/1998,06.165.169/0001-88,0.0,LZQ-3323
1,8AC906633HE126881,MERCEDES BENZ,SPRINTER 315,BRANCA,2016/2017,06.165.169/0001-88,0.0,QHR-9088
2,8AC906633JE140898,MERCEDES BENZ,SPRINTER 315,CINZA,2018/2018,06.165.169/0001-88,0.0,QIH-1928
...,...,...,...,...,...,...,...,...
16,8AC907643NE224126,MERCEDES BENZ,SPRINTER 416 FURGÃO F42A,BRANCA ÁRTICO,2022/2022,06.165.169/0001-88,61560.0,RXS-0J80
17,8AC907645RE243200,MERCEDES BENZ,SPRINTER 417 F43A UP3,BRANCA ÁRTICO,2023/2024,06.165.169/0001-88,19693.0,RYV-9C71
18,8AC907645RE245922,MERCEDES BENZ,SPRINTER 417 F43A UP3,BRANCA ÁRTICO,2023/2024,06.165.169/0001-88,11.0,SXC-4D51

,cpf_cnpj,first_name,last_name,phone,office_phone,home_phone,city,email,password,id_cloud,id_branch,id_level
0,06.165.169/0001-88,100 FRESCURA MODA INTIMA LTDA ME,LTDA,None,None,None,None,None,None,None,None,1
1,06.165.169/0001-88,100 FRESCURA MODA INTIMA LTDA ME,LTDA,None,None,None,None,None,None,None,None,1
2,06.165.169/0001-88,100 FRESCURA MODA INTIMA LTDA ME,LTDA,None,None,None,None,None,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16,06.165.169/0001-88,100 FRESCURA MODA INTIMA LTDA ME,LTDA,None,None,None,None,None,None,None,None,1
17,06.165.169/0001-88,100 FRESCURA MODA INTIMA LTDA ME,LTDA,None,None,None,None,None,None,None,None,1
18,06.165.169/0001-88,100 FRESCURA MODA INTIMA LTDA ME,LTDA,None,None,None,None,None,None,None,None,1