In [2]:
import requests
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_rows', None)  # Mostrar 5 linhas ou None para mostrar todas as linhas
pd.set_option('display.max_columns', None)  # Mostrar todas as colunas

In [18]:
# URL da API externa
API_URL = 'https://microworkcloud.com.br/api/integracao/terceiro'
API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjYjA5YjI5ZC0xMWI0LTRhZjgtYjQwOC03OWVmZjVhNWI3MzAiLCJvcmciOiJvcmcwMDA0NDQifQ.izk8b4ni8eyP3r2y_tpDu10iRiWohbTpsiQgk4YVV-s"
# Cabeçalhos (headers) que você deseja enviar na requisição
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer { API_KEY }',
}

In [25]:
dtInicial = "2025-08-01"
dtFinal = "2025-08-13"

In [27]:
body = {
        "idrelatorioconfiguracao": 138,
                    "idrelatorioconsulta": 55,
                    "idrelatorioconfiguracaoleiaute": 138,
                    "idrelatoriousuarioleiaute": 387,
                    "ididioma": 1,
                    "listaempresas": [1,2,3,4,5,6],
                    "filtros": f"Consultor=null;\
                                mercadoriamarca=null;\
                                MarcaMercadoria=null;\
                                TipoOperacao=null;\
                                CodigoMercadoria=null;\
                                Estoquista=null;\
                                MarcaVeiculo=null;\
                                TipoVeiculo=null;\
                                ModeloVeiculo=null;\
                                DataMovimentacaoInicial={dtInicial};\
                                Pessoa=null;\
                                Vendedor=null;\
                                TributacaoEstadual=null;\
                                Gerarsaldos=False;\
                                DataMovimentacaoFinal={dtFinal};\
                                RegimeMonofasico=null;\
                                TipoMercadoria=null;\
                                TipoLocalizacao=null;\
                                IntermediacaoMarketplace=null;\
                                TipoMovimentoUsuario=16,418,17,257,228,286,18,504,461,781,782,783,784,785,786,787,788,789,37,391,38,264,235,293,39,477,434,40,402,41,249,220,278,42,488,445,379,394,384,381,382,380,383,480,437,337,403,342,341,338,340,339,489,446,319,408,324,323,321,322,320,494,451,385,393,390,387,388,386,389,479,436,55,425,56,265,236,294,57,511,468,31,426,32,266,237,295,33,512,469,52,427,53,267,238,296,54,513,470,28,397,29,251,222,280,30,483,440,373,395,377,378,375,374,376,481,438,367,396,369,368,371,372,370,482,439,538,543,545,542,539,546,541,540,544,313,411,315,314,316,318,317,497,454,58,392,59,252,223,281,60,478,435,34,428,35,268,239,297,36,514,471,361,399,365,366,364,362,363,485,442,217,401,219,277,248,306,218,487,444;\
                                TipoMovimentoInterno=null"
}

In [28]:
try:
    response = requests.post(API_URL, headers=headers, json=body)
    response.raise_for_status()  # Levanta erro para 4xx/5xx
    
    try:
        data_json = response.json()
    except ValueError:
        print("A resposta não é JSON válido.")
        print("Resposta bruta:", response.text)
        raise  # Repassa erro para parar execução
    
    if isinstance(data_json, (list, dict)):
        df_result = pd.DataFrame(data_json)
    else:
        print("Formato inesperado para criação do DataFrame:", type(data_json))
        print("Conteúdo:", data_json)

except requests.exceptions.HTTPError as e:
    print("Erro HTTP:", e)
    if e.response is not None:
        print("Status code:", e.response.status_code)
        print("Headers:", e.response.headers)
        try:
            print("Corpo da resposta (JSON):", e.response.json())
        except ValueError:
            print("Corpo da resposta (texto):", e.response.text)

except requests.exceptions.RequestException as e:
    print("Erro de conexão ou outro problema:", repr(e))

In [ ]:
# Exibir o resultado da pesquisa
display(df_result)

In [29]:
df_elder = df_result.groupby('pessoavendedor')["valortotal"].sum().reset_index()
print(df_elder)

                  pessoavendedor  valortotal
0             DIEGO STEIDEL RAUT     6638.00
1           DUAN LEONARDO DUARTE    39622.82
2            ELCIO JOSNEI SEIDEL    30540.00
3         ELDER ISRAEL BERDNASKI    79120.92
4    EMERSON LUIZ DE SOUZA PINTO    95074.99
5    GABRIEL DOS SANTOS DA SILVA      250.34
6            GABRIEL FELIX LEITE    15395.00
7     GABRIEL MISTURI DOS SANTOS   163630.25
8          JOZIEL POSTUI PEREIRA   116959.20
9    JULIANO LEITE DO NASCIMENTO      101.21
10          LEANDRO LEONEL LEMOS   140834.00
11    LUIS FERNANDO WEGRZINOVSKI   286599.91
12  LUIZ CARLOS BARROS RODRIGUES     8972.84
13          MARCIO SOUZA GODINHO    79607.62
14                  MATHEUS PINA      230.00
15        MATHEUS SCHAPPO MACEDO   185107.19
16         MICHEL JONES DA SILVA    16680.00
17       NATHAN DA SILVA MARTINS    28652.86
18     RAFAEL DOS SANTOS CARDOSO   241388.29
19     ROBSON ANTONIO BECKHEUSER    89108.93
20                 TIAGO FEIDHUS    67185.24
21       VINICIUS DANIEL ALMEIDA   139956.62