In [1]:
import requests
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)  # Mostrar 5 linhas ou None para mostrar todas as linhas
pd.set_option('display.max_columns', None)  # Mostrar todas as colunas

# URL da API externa
API_URL = 'https://microworkcloud.com.br/api/integracao/terceiro'
API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjYjA5YjI5ZC0xMWI0LTRhZjgtYjQwOC03OWVmZjVhNWI3MzAiLCJvcmciOiJvcmcwMDA0NDQifQ.izk8b4ni8eyP3r2y_tpDu10iRiWohbTpsiQgk4YVV-s"
# Cabeçalhos (headers) que você deseja enviar na requisição
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer { API_KEY }',
}

dtInicial = "2025-08-01"
dtFinal = "2025-08-31"

In [2]:
body = {
        "idrelatorioconfiguracao": 138,
                    "idrelatorioconsulta": 55,
                    "idrelatorioconfiguracaoleiaute": 138,
                    "idrelatoriousuarioleiaute": 387,
                    "ididioma": 1,
                    "listaempresas": [1,2,3,4,5,6],
                    "filtros": f"Consultor=null;\
                                mercadoriamarca=null;\
                                MarcaMercadoria=null;\
                                TipoOperacao=null;\
                                CodigoMercadoria=null;\
                                Estoquista=null;\
                                MarcaVeiculo=null;\
                                TipoVeiculo=null;\
                                ModeloVeiculo=null;\
                                DataMovimentacaoInicial={dtInicial};\
                                Pessoa=null;\
                                Vendedor=null;\
                                TributacaoEstadual=null;\
                                Gerarsaldos=False;\
                                DataMovimentacaoFinal={dtFinal};\
                                RegimeMonofasico=null;\
                                TipoMercadoria=null;\
                                TipoLocalizacao=null;\
                                IntermediacaoMarketplace=null;\
                                TipoMovimentoUsuario=16,418,17,257,228,286,18,504,461,781,782,783,784,785,786,787,788,789,37,391,38,264,235,293,39,477,434,40,402,41,249,220,278,42,488,445,379,394,384,381,382,380,383,480,437,337,403,342,341,338,340,339,489,446,319,408,324,323,321,322,320,494,451,385,393,390,387,388,386,389,479,436,55,425,56,265,236,294,57,511,468,31,426,32,266,237,295,33,512,469,52,427,53,267,238,296,54,513,470,28,397,29,251,222,280,30,483,440,373,395,377,378,375,374,376,481,438,367,396,369,368,371,372,370,482,439,538,543,545,542,539,546,541,540,544,313,411,315,314,316,318,317,497,454,58,392,59,252,223,281,60,478,435,34,428,35,268,239,297,36,514,471,361,399,365,366,364,362,363,485,442,217,401,219,277,248,306,218,487,444;\
                                TipoMovimentoInterno=null"
}

In [3]:
df_result = pd.DataFrame()
def fetch_data_from_api():
    try:
        response = requests.post(API_URL, headers=headers, json=body)        
        if response.status_code == 200:
            # Converte a resposta JSON em um DataFrame do Pandas
            data_json = response.json()
            df_result = pd.DataFrame(data_json)
        
            if df_result.empty:
                return pd.DataFrame()
                
            return {"status": "success", "data": df_result}
            
        else:
            # print(f"Erro na requisição à API Microwork! Status code: {response.status_code}")
            try:
                error_json = response.json()
                message = f"Erro API: {error_json}"
            except ValueError:
                message = f"Resposta da API (não JSON): {response.text}"

            return {"status": "error", "status_code": response.status_code, "message": f"Erro na requisição à API Microwork. {message}"}

    except requests.exceptions.RequestException as e:
            print("Erro ao fazer a solicitação:", e)
            return {"error": str(e)}

In [4]:
result = fetch_data_from_api()

if result.get("status") == "success":
    df = result.get("data")
else:
    print("Erro:", result.get("message"))

In [7]:
# Exibir o resultado da pesquisa
print(df.head(5))

             datamovimentacao empresareduzida  idpessoaconsultor  \
0  2025-08-01T09:36:50.048158             MLA              109.0
1  2025-08-01T09:36:50.048158             MLA              109.0
2  2025-08-01T09:36:50.048158             MLA              109.0
3  2025-08-01T09:36:50.048158             MLA              109.0
4  2025-08-01T09:36:50.048158             MLA              109.0

               pessoaconsultor  idpessoavendedor               pessoavendedor  \
0  GABRIEL DOS SANTOS DA SILVA               109  GABRIEL DOS SANTOS DA SILVA
1  GABRIEL DOS SANTOS DA SILVA               109  GABRIEL DOS SANTOS DA SILVA
2  GABRIEL DOS SANTOS DA SILVA               109  GABRIEL DOS SANTOS DA SILVA
3  GABRIEL DOS SANTOS DA SILVA               109  GABRIEL DOS SANTOS DA SILVA
4  GABRIEL DOS SANTOS DA SILVA               109  GABRIEL DOS SANTOS DA SILVA

    tipomercadoria   tipomovimento codigomercadoria  \
0  1 - GENUINA C&O  VENDA POR O.S.      A3459977490
1           8 - OM  VENDA POR O.S.           OM1131
2           8 - OM  VENDA POR O.S.           OM1522
3           8 - OM  VENDA POR O.S.           OM2054
4           8 - OM  VENDA POR O.S.           OM5269

          descricaomercadoria                      ostipo  numerodocto  \
0     BRACADEIRA DE PLASTICO.  C3 - CLIENTES MBB PROMOCAO  O.S.: 14249
1    FITA CHICOTE IMPERMEAVEL  C3 - CLIENTES MBB PROMOCAO  O.S.: 14249
2          FITA ISOLANTE 10 M  C3 - CLIENTES MBB PROMOCAO  O.S.: 14249
3              CHICOTE 4 VIAS  C3 - CLIENTES MBB PROMOCAO  O.S.: 14249
4  ESPAGUETE CORRUGADO 19.0MM  C3 - CLIENTES MBB PROMOCAO  O.S.: 14249

  descricaodocumentofiscal  custocontabilestoque  valoricms  valorpis  \
0    PRÓPRIA: NF-E 30722/2               1518.33       4.21      0.00
1    PRÓPRIA: NF-E 30722/2                262.56       3.10      0.30
2    PRÓPRIA: NF-E 30722/2                 61.92       0.77      0.07
3    PRÓPRIA: NF-E 30722/2                  0.00      12.90      1.25
4    PRÓPRIA: NF-E 30722/2                  7.36       8.13      0.00

   valorcofins tipooperacao  valortotal  lucromoeda  lucropercentual  \
0         0.00        SAÍDA       24.75        4.12        16.646465
1         1.38        SAÍDA       18.21        2.22        12.191104
2         0.34        SAÍDA        4.52        0.69        15.265487
3         5.77        SAÍDA       75.86       11.43        15.067229
4         0.00        SAÍDA       47.84        9.55        19.962375

   quantidade
0        15.0
1         1.0
2         1.0
3         1.0
4         4.0

In [9]:
df_vendedor = df.groupby('pessoavendedor')["valortotal"].sum().reset_index()
print(df_vendedor)

                       pessoavendedor  valortotal
0   CLOVIS MICHEL RODRIGUES ZIELINSKI    18404.04
1                  DIEGO STEIDEL RAUT    22856.38
2                DUAN LEONARDO DUARTE   324106.38
3                 ELCIO JOSNEI SEIDEL    67908.00
4              ELDER ISRAEL BERDNASKI   425819.73
5         EMERSON LUIZ DE SOUZA PINTO   289075.58
6         GABRIEL DOS SANTOS DA SILVA      323.34
7                 GABRIEL FELIX LEITE    15395.00
8          GABRIEL MISTURI DOS SANTOS   392373.85
9                         JOABE ALVES     1340.82
10              JOZIEL POSTUI PEREIRA   433266.68
11                JOÃO VITOR MACIESKI       30.00
12        JULIANO LEITE DO NASCIMENTO     2311.66
13               KELLY BORGES DA CRUZ    18556.62
14               LEANDRO LEONEL LEMOS   168150.00
15         LUIS FERNANDO WEGRZINOVSKI   790031.28
16       LUIZ CARLOS BARROS RODRIGUES     8972.84
17               MARCIO SOUZA GODINHO   300505.14
18                       MATHEUS PINA      230.00
19             MATHEUS SCHAPPO MACEDO   792609.49
20              MICHEL JONES DA SILVA    50400.00
21            NATHAN DA SILVA MARTINS    30302.56
22          RAFAEL DOS SANTOS CARDOSO   666569.28
23                RAFAEL TEZZA GUEDES      220.00
24          ROBSON ANTONIO BECKHEUSER   237561.83
25                      TIAGO FEIDHUS   195730.05
26            VINICIUS DANIEL ALMEIDA   364226.77